@using PharmAssistant.Models.ViewModels
@using PharmAssistant.Models
@model IEnumerable<InventoryViewModel>

@{
    ViewBag.Title = "Inventory Settings";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";

    int i = 1;
}

<h2>Inventory Settings</h2>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script type="text/javascript">
    function AjaxCall(url, data, type) {
        return $.ajax({
            url: url,
            type: type ? type : 'GET',
            data: data,
            contentType: 'application/json'
        });
    }

    $(function () {

        $('#medicineCategory').on('change', function () {
            var categoryId = $('#medicineCategory').val();

            if (categoryId != '') {
                //alert('Category: ' + categoryId);
                var data = { CategoryId: categoryId };

                AjaxCall('/Inventory/InventorySettingsByCategory', JSON.stringify(data), 'POST')
                    .done(function (response) {

                        //alert("Medicines Received...");

                        if (response.length > 0) {

                            var rows = '';

                            var header = '<thead><tr>' +
                                '<th>#</th>' +
                                '<th>Medicine Name</th>' +
                                '<th>Stock Capacity</th>' +
                                '<th>Reorder Level</th>' +
                                '<th>Buffer Level</th>' +
                                '<th class="text-center">Actions</th></tr></thead>';

                            for (var i = 0; i < response.length; i++) {

                                rows += "<tr>" +
                                    "<td>" + (i + 1) + "</td>" +
                                    "<td>" + response[i]['MedicineName'] + "</td>" +
                                    "<td>" + response[i]['StockCapacity'] + "</td>" +
                                    "<td>" + response[i]['ReorderLevel'] + "</td>" +
                                    "<td>" + response[i]['BufferLevel'] + "</td>" +
                                    '<td class="text-center"><a href="#" title="Edit" onclick="editInventorySetting(' + response[i]['MedicineId'] + ',\'' + response[i]['MedicineName'] + '\', ' + response[i]['StockCapacity']
                                            + ', ' + response[i]['ReorderLevel'] + ', ' + response[i]['BufferLevel'] + ')"><i class="lnr lnr-pencil"></i></a></td></tr>';

                            }

                            $('#inventoryStock').html(header + rows);
                        }
                        else {
                            $('#inventoryStock').html("<tr><thead><th><span class='text text-warning text-center'>No stock entries found.</span></th></thead></tr>");
                        }

                    })
                    .fail(function (error) {
                        alert('Unable to get inventory stock: ' + error.StatusText);
                    });
            }
        });
    });

    function editInventorySetting(medicineId, medicineName, stockCapacity, reorderLevel, bufferLevel) {
        //alert('Editing Inventory Setting.\nMedicine Id: ' + medicineId + '\nMedicine Name: ' + medicineName +
        //                    '\nStock Capacity: ' + stockCapacity + '\nReorder Level: ' + reorderLevel + '\nBuffer Level: ' + bufferLevel);
        $('#inventorySettingPanel').show();

        $('#medicineId').val(medicineId);
        $('#medicineName').val(medicineName);
        $('#stockCapacity').val(stockCapacity);
        $('#reorderLevel').val(reorderLevel);
        $('#bufferLevel').val(bufferLevel);

    }

    function updateInventorySetting() {
        var data = {
            MedicineId: $('#medicineId').val(),
            MedicineName: $('#medicineName').val(),
            StockCapacity: $('#stockCapacity').val(),
            ReorderLevel: $('#reorderLevel').val(),
            BufferLevel: $('#bufferLevel').val(),
            CategoryId: $('#medicineCategory').val()
        };

        AjaxCall('/Inventory/UpdateInventorySetting', JSON.stringify(data), 'POST')
            .done(function (response) {
                clearFields();
                $('#inventorySettingPanel').hide();
                alert('Record Updated Successfully.');

                if (response.length > 0) {

                    var rows = '';

                    var header = '<thead><tr>' +
                        '<th>#</th>' +
                        '<th>Medicine Name</th>' +
                        '<th>Stock Capacity</th>' +
                        '<th>Reorder Level</th>' +
                        '<th>Buffer Level</th>' +
                        '<th class="text-center">Actions</th></tr></thead>';

                    for (var i = 0; i < response.length; i++) {

                        rows += "<tr>" +
                            "<td>" + (i + 1) + "</td>" +
                            "<td>" + response[i]['MedicineName'] + "</td>" +
                            "<td>" + response[i]['StockCapacity'] + "</td>" +
                            "<td>" + response[i]['ReorderLevel'] + "</td>" +
                            "<td>" + response[i]['BufferLevel'] + "</td>" +
                            '<td class="text-center"><a href="#" title="Edit" onclick="editInventorySetting(' + response[i]['MedicineId'] + ',\'' + response[i]['MedicineName'] + '\', ' + response[i]['StockCapacity']
                            + ', ' + response[i]['ReorderLevel'] + ', ' + response[i]['BufferLevel'] + ')"><i class="lnr lnr-pencil"></i></a></td></tr>';

                    }

                    $('#inventoryStock').html(header + rows);
                }
                else {
                    $('#inventoryStock').html("<tr><thead><th><span class='text text-warning text-center'>No stock entries found.</span></th></thead></tr>");
                }



            })
            .fail(function (error) {
                alert('Record updation failure. Please try again later.');
            });
    }

    function cancelUpdate() {
        clearFields();
        $('#inventorySettingPanel').hide();
    }

    function clearFields() {
        $('#medicineId').val('');
        $('#medicineName').val('');
        $('#stockCapacity').val('');
        $('#reorderLevel').val('');
        $('#bufferLevel').val('');
    }

</script>


<div class="row">
    <div class="panel">
        <div class="panel-body">
            <div class="col-md-4">
                @*<span>Medicine Category: </span>*@<br />
                @Html.DropDownList("MedicineCategoryId", ViewBag.MedicineCategories as SelectList, "Select Medicine Category", new { @class = "form-control", id = "medicineCategory" })<br />
            </div>

            @if (Model != null && Model.Count() > 0)
            {
                <table class="table table-hover" id="inventoryStock">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Medicine Name</th>
                            <th>Stock Capacity</th>
                            <th>Reorder Level</th>
                            <th>Buffer Level</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var entry in Model)
                        {
                            <tr>
                                <td>@(i++)</td>
                                <td>@entry.MedicineName</td>
                                <td>@entry.StockCapacity</td>
                                <td>@entry.ReorderLevel</td>
                                <td>@entry.BufferLevel</td>
                                <td class="text-center">
                                    <a href="#" title="Edit" onclick="editInventorySetting(@entry.MedicineId, '@entry.MedicineName', @entry.StockCapacity, @entry.ReorderLevel, @entry.BufferLevel)">
                                    <i class="lnr lnr-pencil" ></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <span class="alert alert-warning col-md-12 text-center">No stock available.</span>
            }
        </div>
    </div>
</div>

<div style="display:none; z-index: 10; width: 100%; height: 100%; position:fixed; top: 0; left: 0; background-color: rgba(0,0,0,0.5);" id="inventorySettingPanel">
    <div class="col-md-3" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Edit Inventory Setting
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <input type="hidden" id="medicineId" />
                    <div class="form-group">
                        <label for="medicineName">Medicine Name</label>
                        <input type="text" id="medicineName" disabled="disabled" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="stockCapacity">Stock Capacity</label>
                        <input type="text" id="stockCapacity" class="form-control" placeholder="Enter Stock Capacity" />
                    </div>

                    <div class="form-group">
                        <label for="reorderLevel">Reorder Level</label>
                        <input type="text" id="reorderLevel" class="form-control" placeholder="Enter Reorder Level" />
                    </div>

                    <div class="form-group">
                        <label for="bufferLevel">Buffer Level</label>
                        <input type="text" id="bufferLevel" class="form-control" placeholder="Enter Buffer Level" />
                    </div>

                    <div class="form-group text-right">
                        <button class="btn btn-primary" onclick="updateInventorySetting();">Update</button>&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-danger" onclick="cancelUpdate();">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>