@model ICollection<PharmAssistant.Models.Manufacturer>


@if (Model != null && Model.Count > 0)
{
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>Manufacturer Name</th>
				<th>Phone No.</th>
				<th>EmailId</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>

			@foreach (var manufacturer in Model)
			{
				<tr>
					<td>@manufacturer.ManufacturerId</td>
					<td>@manufacturer.ManufacturerName</td>
					<td>@manufacturer.ContactNo</td>
					<td>@manufacturer.EmailId</td>
					<td>
						@Html.ActionLink("Edit", "EditManufacturer", "Manufacturers", new { ID = manufacturer.ManufacturerId }, new { @class = "label label-primary" })
						@Html.ActionLink("Delete", "DeleteManufacturer", "Manufacturers", new { ID = manufacturer.ManufacturerId }, new { @class = "label label-danger", onclick = "return confirm('Are sure to delete record of \"" + manufacturer.ManufacturerName.Trim() + "\"?');" })
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<div class="alert alert-warning" role="alert">
		<i class="fa fa-warning"></i> No manufacturers available yet!
	</div>
}
