@model PharmAssistant.Models.ViewModels.MedicineSupplierViewModel
@{
	ViewBag.Title = "ManageSuppliers";
	Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script type="text/javascript">
	function AjaxCall(url, data, type) {
		return $.ajax({
			url: url,
			type: type ? type : 'GET',
			data: data,
			contentType: 'application/json'
		});
	}

	function onSuccess() {
		$("#categoryId").prop("selectedIndex", 0);
		$("#medicineId").prop("selectedIndex", 0);
		$("#quantity").val('');
	}

	$(function () {




		$("#categoryId").prop("selectedIndex", 0);
		$("#medicineId").prop("selectedIndex", 0);
		$("#quantity").val('');

		//$('#supplierId').on('change', function () {
		//	var supplierId = $('#supplierId').val();

		//	if (supplierId != '') {
		//		//alert('Category: ' + categoryId);
		//		var data = { SupplierId: supplierId };

		//		AjaxCall('/PurchaseOrders/GetMedicineCategories', JSON.stringify(data), 'POST')
		//			.done(function (response) {

		//				//alert("Medicines Received...");

		//				if (response.length > 0) {
		//					$('#categoryId').html('');
		//					var options = '';
		//					options += '<option value="Select">Select Medicine Category</option>';

		//					for (var i = 0; i < response.length; i++) {
		//						options += '<option value = "' + response[i]['CategoryId'] + '">' + response[i]['MedicineCategotyName'] + '</option>';
		//					}

		//					$('#categoryId').append(options);
		//				}
		//				else {
		//					$('#categoryId').html('');
		//					var options = '';
		//					options += '<option value="Select">Select Medicine Category</option>';

		//					$('#categoryId').append(options);
		//				}
		//			})
		//			.fail(function (error) {
		//				alert('Error Receiving Medicine Categories: ' + error.StatusText);
		//			});
		//	}
		//});

		$('#medicineCategoryId').on('change', function () {
			var categoryId = $('#medicineCategoryId').val();

			if (categoryId != '') {
				//alert('Category: ' + categoryId);
				var data = { CategoryId: categoryId };

				AjaxCall('/Medicines/GetMedicines', JSON.stringify(data), 'POST')
					.done(function (response) {

						//alert("Medicines Received...");

						if (response.length > 0) {
							$('#medicineId').html('');
							var options = '';
							options += '<option value="Select">Select Medicine</option>';

							for (var i = 0; i < response.length; i++) {
								options += '<option value = "' + response[i]['MedicineId'] + '">' + response[i]['Name'] + '</option>';
							}

							$('#medicineId').append(options);
						}
						else {
							$('#medicineId').html('');
							var options = '';
							options += '<option value="Select">Select Medicine</option>';

							$('#medicineId').append(options);
						}
					})
					.fail(function (error) {
						alert('Error Receiving Countries: ' + error.StatusText);
					});
			}
		});

		$('#categoryId').on('change', function () {
			var categoryId = $('#categoryId').val();

			if (categoryId != '') {
				//alert('Category: ' + categoryId);
				var data = { CategoryId: categoryId };

				AjaxCall('/Medicines/GetSuppliersOfCategories', JSON.stringify(data), 'POST')
					.done(function (response) {

						//alert("Medicines Received...");

						if (response.length > 0) {
							$('#suppliersOfMedicineCategory').html('');
							var options = '';

							for (var i = 0; i < response.length; i++) {
								if (response[i]["Select"] == 1) {
									options += '<input type="checkbox" id="supplier' + response[i]['SupplierId'] + '" name = "SelectedSuppliersForCategory" value = "' + response[i]['SupplierId'] + '" checked />' +
										'<label for="supplier' + response[i]['SupplierId'] + '">' + response[i]['SupplierName'] + '</label><br/>';
								}
								else {
									options += '<input type="checkbox" id="supplier' + response[i]['SupplierId'] + '" name = "SelectedSuppliersForCategory" value = "' + response[i]['SupplierId'] + '" />' +
										'<label for="supplier' + response[i]['SupplierId'] + '">' + response[i]['SupplierName'] + '</label><br/>';
								}
							}

							$('#suppliersOfMedicineCategory').append(options);
						}
						else {
							$('#suppliersOfMedicineCategory').html('');
							var options = '';
							options += '<span class="alert alert-warning">None is supplying this medidine category yet.</span>';

							$('#suppliersOfMedicineCategory').append(options);
						}
					})
					.fail(function (error) {
						alert('Error Receiving Suppliers: ' + error.StatusText);
					});
			}
		});

		$('#medicineId').on('change', function () {
			var medicineId = $('#medicineId').val();

			if (categoryId != '') {
				//alert('Category: ' + categoryId);
				var data = { MedicineId: medicineId };

				AjaxCall('/Medicines/GetSuppliersOfMedicines', JSON.stringify(data), 'POST')
					.done(function (response) {

						//alert("Medicines Received...");

						if (response.length > 0) {
							$('#suppliersOfMedicine').html('');
							var options = '';

							for (var i = 0; i < response.length; i++) {
								if (response[i]["Select"] == 1) {
									options += '<input type="checkbox" id="supplier' + response[i]['SupplierId'] + '" name = "SelectedSuppliersForMedicine" value = "' + response[i]['SupplierId'] + '" checked />' +
										'<label for="supplier' + response[i]['SupplierId'] + '">' + response[i]['SupplierName'] + '</label><br/>';
								}
								else {
									options += '<input type="checkbox" id="supplier' + response[i]['SupplierId'] + '" name = "SelectedSuppliersForMedicine" value = "' + response[i]['SupplierId'] + '" />' +
										'<label for="supplier' + response[i]['SupplierId'] + '">' + response[i]['SupplierName'] + '</label><br/>';
								}
							}

							$('#suppliersOfMedicine').append(options);
						}
						else {
							$('#suppliersOfMedicine').html('');
							var options = '';
							options += '<span class="alert alert-warning">None is supplying this medidine yet.</span>';

							$('#suppliersOfMedicine').append(options);
						}
					})
					.fail(function (error) {
						alert('Error Receiving Suppliers: ' + error.StatusText);
					});
			}
		});
	});

</script>


<div class="row">

	<div class="col-md-6">
		<div class="panel">
			<div class="panel-heading">
				<h3>Attach Suppliers to Medicine Categories</h3>
			</div>
			<div class="panel-body">
				<div class="col-md-12">
					Category:<br />
					@Html.DropDownList("CategoryId", ViewBag.Categories as SelectList, "Select Category", new { @class = "form-control", id = "categoryId" })<br />
					<div id="suppliersOfMedicineCategory"></div>

					@*@foreach(var supplier in Model.Suppliers)
					{
						<input id="supplier@(supplier.SupplierId)" type="checkbox"
							   name="SelectedSuppliers" value="@supplier.SupplierId"
							   @(Model.SelectedSuppliersForCategory.Contains(supplier.SupplierId) ? "checked" : "") />
						<label for="supplier@(supplier.SupplierId)">@supplier.SupplierName</label>
					}*@
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel">
			<div class="panel-heading">
				<h3>Attach Suppliers to Medicines</h3>
			</div>
			<div class="panel-body">
				<div class="col-md-12">
					Category:<br />
					@Html.DropDownList("CategoryId", ViewBag.Categories as SelectList, "Select Category", new { @class = "form-control", id = "medicineCategoryId" })<br />

					Medicine:<br />
					<select id="medicineId" name="MedicineId" class="form-control">
						<option>Select Medicine</option>
					</select><br />

					<div id="suppliersOfMedicine"></div>
				</div>
			</div>
		</div>
	</div>
</div>
